.root * {
    -fx-font: 22px Arial;
    -fx-font-family: 'arial';
     -fx-font-weight: bold 
}
.button {
    -fx-background-color: gray;
    -fx-text-fill: black;
     -fx-border-color: #545454;
     -fx-border-width: 1px; 
     -fx-border-style: solid; 
   
}
}

.label {
    -fx-background-color: crimson;
    -fx-alignment: center;
 
    -fx-font-weight: bold;
    -fx-font-family: 'arial';
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}